<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>
<IfModule mod_headers.c>
            ## un-remark this one for all access and remark out the one below it
            #Header set Access-Control-Allow-Origin "*""
            Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /truck/

    # Redirect requests to non-existing directories or files to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
